/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
html { font-family: 'Nobile', Helvetica, arial, sans-serif }
li { list-style: none }
a:link { text-decoration: none }
a { color: white }
a:hover {
    color: lightgray;
    border-top: solid skyblue 5px;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav ul {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav {
    text-transform: capitalize;
    background: #252726;
    position: fixed;
    font-family: 'Racing Sans One', cursive;
}
.sec {
    height: 700px
}
#section1 {
    height: 300px;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/chicago.png) no-repeat center center;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/chicago.png) no-repeat center center;
    background-size: cover;
}
.sec1-content {
    position: absolute;
    color: white;
    text-align: center;
}
.logo {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 50%;
}
.sentence-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -45%;
}
.sec1content {
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    padding: 1%;
    color: white;
    font-family: 'Racing Sans One', cursive;
    margin-left: 5%;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
#sentence-4 {
    margin-right: 5%;
    margin-top: 10%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 50%;
}
.border {
    border-bottom: 2px solid #eaeaea;
}
#city {
    font-size: 100%;
}
#question {
    width: 100%;
}
#text,
.follow_wrapper,
.about-text,
.video_description {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 2;
    font-weight: bolder;
    font-stretch: 5%;
    font-size: 130%;
    margin-bottom: 10%;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    line-height: 2;
    font-size: 150%;
}
#text h2,
.follow_wrapper h2,
.video_description h2 {
    color: #9ADFE4;
    font-family: 'Racing Sans One', cursive;
    font-size: 150%;
}
.follow_wrapper,
.video_description,
#text {
    padding: 0 10% 0 10%;
    width: 100%;
}
#city,
#picture,
#sec_quoute {
    height: 100%;
    padding-bottom: 15%;
}
#sec_quoute {
    padding-left: 10%;
    padding-right: 10%;
}
.city_wrapper {
    text-transform: capitalize;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin: 0 auto;
}
.tittle {
    background: #5570A6;
    font-size: 120%;
    text-align: center;
    color: #fcfcfc;
    padding: 2%;
}
.subsec {
    width: 70%;
    height: 100%;
    background: url(images/sub_bk.png);
    font-family: 'Racing Sans One', cursive;
    margin-bottom: 10%;
    font-size: 120%;
}
.subsec li {
    padding: 2%;
}
.arrow_wrapper {
    margin: 0 auto;
    width: 15%;
}
#arrow {
    width: 100%;
}
.photo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin: 0 auto;
}
.photo img {
    width: 100%;
    margin-bottom: 10%;
}
#section3 {
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom: 1px solid #eaeaea;
    height: 100%;
    padding-bottom: 10%;
}
figcaption {
    text-align: center;
    color: black;
}
.memeber_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.member {
    width: 150px;
    padding-top: 20%;
}
.question_mark,
.location_mark,
.quote_wrapper,
.favorate_wrapper,
.video_logo_wrapper {
    width: 30%;
    margin: 10% auto;
}
.video_logo_wrapper {
    margin-bottom: 0;
}

#section4 {
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sec h1 {
    padding: 10% 0 10% 0;
    text-transform: uppercase;
    font-size: 400%;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
}
object {
    width: 80%;
    height: 60%;
    margin: 0 auto;
}
#signuptext {
    text-align: center;
    color: white;
    font-family: 'Racing Sans One', cursive;
    background: #3E414B;
    padding: 10px;
}
.form_container {
    margin-top: 15%;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: auto;
    background-color: #384F75;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
h4 {
    color: white
}
input {
    font-family: 'Source Sans Pro', sans-serif
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5%;
}
#email {
    background-color: #fafafa;
    padding: 7px;
    vertical-align: top;
    display: inline-block;
    font-size: 90%;
    font-weight: 400;
    border: 0;
    width: 250px;
    height: 32px;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
input[type="submit"]:hover {
    background-color: #3399ff;
    color: #fafafa;
    border-radius: 0;
    -webkit-appearance: none;
}
input[type="submit"].btn {
    font-family: 'Racing Sans One', cursive;
    font-size: 100%;
    color: #fafafa;
    width: 140px;
    border: 1px solid black;
    border-width: 0px 0px 0px 1px;
    margin: 0;
    height: 32px;
    background-color: #3399ff;
    border-radius: 0;
    -webkit-appearance: none;
}
@media screen and (min-width: 100px) {
    .sentence-container {
        margin-top: -60%;
        font-size: 70%;
    }
    .subsec {
        width: 250px;
    }
}
@media screen and (min-width: 410px) {
    .subsec {
        width: 250px;
    }
    .city_wrapper {
        width: 80%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .photo {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                    -ms-grid-row-align: center;
                align-items: center;
    }
    .photo img {
        width: 80%;
        margin-bottom: 10%;
    }
    .member {
        width: 200px;
    }
    .sentence-container {
        margin-top: -35%;
        font-size: 70%;
    }
    .sec1content {
        padding: 1%;
        color: white;
        background: -webkit-linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
    #sentence-4 {
        width: 40%
    }
    object {
        width: 400px;
        height: 280px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 520px) {
    #text h2,
    .follow_wrapper h2,
    .video_description h2 {
        font-size: 200%;
    }
    .photo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        width: 100%;
    }
    .photo img {
        width: 40%;
    }
    #section1 {
        height: 25em;
    }
    .about-text {
        margin-bottom: 0;
    }
    .memeber_container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }
    .member {
        width: 7em;
    }
    #section3 {
        padding-bottom: 5%;
    }
    .logo {
        height: 80%
    }
}
@media screen and (min-width: 625px) {
    #section1 {
        height: 500px
    }
    .where {
        margin-top: 5%;
    }
    .location_mark,
    .quote_wrapper,
    .favorate_wrapper,
    .video_logo_wrapper,
    #favorate,
    #quote,
    #video_logo {
        width: 180px;
        margin: 10% auto;
    }
    #question {
        width: 200px;
    }
    .photo img {
        width: 26%;
    }
    #picture,
    #city {
        padding-bottom: 0;
    }
    .subsec {
        width: 150px;
    }
    .city_wrapper {
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
}
@media screen and (min-width: 735px) {
    #text {
        width: 65%;
    }
    .where,
    #favorate_flex,
    .video_flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
    }
    .video_description {
        margin-bottom: 0;
        width: 40%;
        padding: 0;
    }
    #sec_quoute,
    .video_flex,
    #favorate_flex {
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .quote_wrapper,
    .video_logo_wrapper,
    .favorate_wrapper,
    .follow_wrapper {
        margin: 0;
    }
    #favorate_flex_item {
        width: 66%;
    }
    #city {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        margin-top: 10%;
        padding-bottom: 5%;
    }
    .city_wrapper {
        width: 50%;
    }
    .about-text {
        width: 40%;
    }
    .member {
        width: 180px
    }
    .logo {
        padding-top: 6%;
        height: 80%;
        width: 60%;
    }
    .sentence-container {
        margin-top: -35%;
        font-size: 120%;
    }
    .sec1content {
        margin-bottom: 1%;
        padding: 1%;
        color: white;
        background: -webkit-linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
    object {
        width: 70%;
        height: 25em;
    }
}
@media screen and (min-width: 900px) {
    .sentence-container {
        margin-top: -25%;
        font-size: 120%;
    }
    #city {
        padding-bottom: 5%;
        margin: 0;
        margin-top: 5%;
    }
    .city_wrapper {
        width: 68%;
    }
    .subsec {
        margin: 0;
    }
}
@media screen and (min-width: 960px) {
    .where,
    #city,
    #picture,
    #section3,
    #sec_quoute,
    .video_flex {
        width: 960px;
        margin: 0 auto;
    }
    object {
        width: 672px;
        height: 400px;
    }
}
@media screen and (min-width: 1200px) {
    #section1 {
        height: 900px
    }
    .logo {
        height: 100%;
        width: 40%;
    }
    .sentence-container {
        margin-top: -28%;
        font-size: 120%;
    }
    #sentence-4 {
        margin-top: 6%;
        width: 30%
    }
    .about-text {
        width: 50%;
        line-height: 250%;
    }
}