/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1 }
ol,
ul { list-style: none }
blockquote,
q { quotes: none }
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html { font-family: 'Nobile', Helvetica, arial, sans-serif }
li { list-style: none }
a:link { text-decoration: none }
a { color: white }
a:hover {
    color: lightgray;
    border-top: solid skyblue 5px;
}
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: fixed;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav {
    text-transform: capitalize;
    background: #252726;
    position: fixed;
    font-family: 'Racing Sans One', cursive;
}
.sec { height: 700px }
#section1 {
    height: 300px;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/chicago.png) no-repeat center center;
    background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(images/chicago.png) no-repeat center center;
    background-size: cover;
}
.sec1-content {
    position: absolute;
    color: white;
    text-align: center;
}
h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 200%;
    white-space: nowrap;
}
.logo {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 50%;
}
.sentence-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: -45%;
}
.sec1content {
    margin-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
    padding: 1%;
    color: white;
    font-family: 'Racing Sans One', cursive;
    margin-left: 5%;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
#sentence-4 {
    margin-right: 5%;
    margin-top: 10%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 50%;
}
#section2 {
    background-color: #F3F0D0;
    /*background: url(images/6.jpg) no-repeat center center;;
    background-size: cover;*/
    height: 850px;
    font-family: 'Droid Sans', sans-serif;
}
.about-content {
    line-height: 130%;
    padding: 0 5% 0 5%;
    text-align: center;
}
figcaption {
    text-align: center;
    color: white;
}
.intro-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
#about-content { margin-top: -20% }
.about-text {
    margin-top: -5%;
    text-align: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    width: 80%;
    line-height: 200%;
}
.memeber_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
    -webkit-border-bottom-right-radius: 24px;
    -webkit-border-bottom-left-radius: 24px;
    -moz-border-radius-bottomright: 24px;
    -moz-border-radius-bottomleft: 24px;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
}
.member {
    width: 100px;
    padding-top: 20%;
}
#section3 {
    font-family: 'Droid Sans', sans-serif;
    background-color: #F1F7E6;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sec h1 {
    padding: 10% 0 10% 0;
    text-transform: uppercase;
    font-size: 400%;
    font-family: 'Racing Sans One', cursive;
    text-align: center;
}
object {
    width: 100%;
    height: 40%;
}
.video-describe {
    text-align: center;
    height: 50px;
}
#signuptext {
    text-align: center;
    color: white;
    font-family: 'Racing Sans One', cursive;
    background: black;
    padding: 10px;
}
.form_container {
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    height: auto;
    background-color: #384F75;
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
h4 { color: white }
input { font-family: 'Source Sans Pro', sans-serif }
*,
*:before,
*:after {
    box-sizing: border-box;
}
form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5%;
}
#email {
    background-color: #fafafa;
    padding: 7px;
    vertical-align: top;
    display: inline-block;
    font-size: 90%;
    font-weight: 400;
    border: 0;
    width: 250px;
    height: 32px;
    margin: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
input[type="submit"]:hover {
    background-color: #3399ff;
    color: #fafafa;
    border-radius: 0;
    -webkit-appearance: none;
}
input[type="submit"].btn {
    font-family: 'Racing Sans One', cursive;
    font-size: 100%;
    color: #fafafa;
    width: 140px;
    border: 1px solid black;
    border-width: 0px 0px 0px 1px;
    margin: 0;
    height: 32px;
    background-color: #3399ff;
    border-radius: 0;
    -webkit-appearance: none;
}
#section3 h1 { margin-top: -10% }
@media (max-width: 410px) { 
    .sentence-container {
        margin-top: -55%;
        font-size: 70%;
    }
    .sec1content {
        padding: 1%;
        color: white;
        background: -webkit-linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
    #sentence-4 { width: 40% }
    .intro-wrapper { height: 500px }
    #about-content { font-size: 35% }
    .about-text { font-size: 70% }
}
@media screen and (min-width: 520px)  { 
    .sec {
        width: auto;
        height: 1200px;
    }
    #section1 { height: 500px }
    .intro-wrapper { height: 600px }
    #section2 { height: 900px }
    .member { width: 120px }
    .logo { height: 80% }
    object {
        width: 95%;
        margin: 0 auto;
    }
}
@media screen and (min-width: 750px) { 
    .sec {
        width: auto;
        height: 1200px;
    }
    #section1 { height: 900px }
    .member { width: 180px }
    .logo {
        height: 80%;
        width: 60%;
    }
    .sentence-container {
        margin-top: -35%;
        font-size: 120%;
    }
    .sec1content {
        margin-bottom: 1%;
        padding: 1%;
        color: white;
        background: -webkit-linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
        background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    }
    #sentence-4 { width: 40% }
    .intro-wrapper { height: 900px }
    #about-content { margin-top: -10% }
    .about-text {
        text-align: center;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        width: 50%;
        line-height: 250%;
    }
    #section2 { height: 1200px }
    object {
        width: 90%;
        height: 50%;
        margin: 0 auto;
    }
}
@media (min-width: 1200px) { 
    .sec {
        width: auto;
        height: 1200px;
    }
    #section1 { height: 900px }
    .member { width: 180px }
    .logo {
        height: 100%;
        width: 50%;
    }
    .sentence-container {
        margin-top: -28%;
        font-size: 120%;
    }
    #sentence-4 { 
        margin-top: 6%;
        width: 30% }
    .intro-wrapper { height: 900px }
    #about-content { margin-top: -10% }
    .about-text {
        text-align: center;
        -webkit-align-self: center;
            -ms-flex-item-align: center;
                align-self: center;
        width: 50%;
        line-height: 250%;
    }
    #section2 { height: 1200px }
    object {
        width: 70%;
        height: 60%;
        margin: 0 auto;
    }
}